apiVersion: v1
kind: Service
metadata:
  name: portfolio-svc
  labels:
    app: portfolio
spec:
  selector:
    app: portfolio
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
